<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
      <!-- 开发环境版本，包含了有帮助的命令行警告 --> 
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>  
  <body>
      <div id="app">
          {{message}}
      </div>

      <div id="app-1">
          <!-- v-bind 指令在这意味将这个元素节点的title attribute和实例message property保持一致 -->
          <span v-bind:title="message">
              鼠标悬停查看信息
          </span>
      </div>
  </body>
  <!-- 条件循环 -->
  <!-- v-if=property -->
  <div id="app-2">
      <p v-if="seen">找到你了!</p>
  </div>
  <!-- v-for="item in intems"-->
  <div id="app-3">
      <ol>
          <li v-for="todo in todos">
              {{todo.text}}
          </li>
      </ol>
  </div>

  <script>
      var app3 = new Vue({
          el: "#app-3",
          data: {
              todos: [
                  {text: "小王子"},
                  {text: "垃莱耶"},
                  {text: "婴宁"}
              ]
          }
      })

      var app2 = new Vue({
          el: "#app-2",
          data: {
              seen: false
          }
      })

      var app = new Vue({
          el:'#app',
          data: {
              message: 'Hello Vue!'
          }
      })

      var app1 = new Vue({
          el:'#app-1',
          data: {
              message: '页面加载于' + new Date().toLocaleString()
          }
      })
  </script>
</html>
